################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MyWebSite/App_Data
/MyWebSite/bin/Debug/net8.0
/MyWebSite/obj
